.diagram

.diagram__time-line
  height: 46px
  padding-top: 11px
  padding-bottom: 11px
  box-shadow: 0 1px 0 0 #E9ECEF
  font-size: 14px
  box-sizing: border-box

.diagram__sidebar
  width: 245px

.diagram__time-line .diagram__sidebar
  width: 221px

.diagram__content .diagram__sidebar
  height: calc(100vh - 46px - 71px)
  padding-left: 24px
  box-shadow: 1px 0 0 0 #E9ECEF
  box-sizing: border-box
  overflow-y: auto
