.header
  height: 71px
  padding-top: 18px
  padding-bottom: 17px
  box-shadow: 0 1px 0 0 #E9ECEF
  box-sizing: border-box

.header .container
  display: flex
  justify-content: space-between

.header .logo
  margin-top: 7px
